{#<?php#}
{% extends "main.twig" %}
{% block content %}

<div class="author-profile">
	<div class="author-avatar">{{function("get_avatar", author.ID, 128)}}</div>
	<div class="author-fields">
		<h1 class="author-name">
			{{author.name}}
		</h1>
		<div class="author-social-networks">
			<a href="https://twitter.com/{{function("get_user_meta", author.ID, "twitter", true)}}" class="twitter-link">
				@{{function("get_user_meta", author.ID, "twitter", true)}}
			</a>
		</div>
		<div class="author-bio">
			{{function("get_user_meta", author.ID, "description", true)}}
		</div>
	</div>
</div>

{% for post in posts %}
	{% include ["content-"~post.post_type~".twig", "content.twig"] %}
{% endfor %}

{% endblock %}
