<article {{ function( 'post_class' ) }} id="post-{{post.ID}}" itemscope itemtype="http://schema.org/Article">
	<div class="blog-header">
		<h2 class="subtitle">{{ function( 'get_post_meta', post.ID, 'sub_title', true ) }}</h2>
		<div class="lib-row lib-hashtags">
			<div class="white-right"></div>
			<div class="post-hashtags-scroller">
				<ul class="post-hashtags">
					{% for tag in post.tags %}
						<li><a href="{{ tag.link }}">{{ tag.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	<div class="blog-post">
		{{ post.content }}
	</div>
	<!-- /.blog-post -->

</article>
