{#<?php#}
{% include 'head.twig' %}

<body class="{{ body_class }}" data-source="base.twig">

	<a href="#content" class="sr-only skip-link screen-reader-text">{{ __( 'Skip to main content', 'maera_bs' ) }}</a>

	{% do action( 'get_header' ) %}

	{% do action( 'maera/header/before', post.ID ) %}

	{% if theme.theme_mod('navbar_position', 'normal') != 'after-headers' %}
	{% include 'nav.twig' %}
	{% endif %}

	{% do action( 'maera/header/after', post.ID ) %}

	{% do action( 'maera/extra_header/before' ) %}
	{% if sidebar.pre_header %}<div class="row">{{ sidebar.pre_header }}</div>{% endif %}
	<header class="page-header">
		{% if 'boxed' == theme.theme_mod('site_style', 'wide') %}<div class="container header-boxed">{% endif %}
			<div class="header-wrapper container-fluid">
				{% if 'wide' == theme.theme_mod('site_style', 'wide') %}<div class="container">{% endif %}
					{% if sidebar.header %}<div class="row">{{ sidebar.header }}</div>{% endif %}
					{% if 'wide' == theme.theme_mod('site_style', 'wide') %}</div>{% endif %}
				</div>
				{% if 'boxed' == theme.theme_mod('site_style', 'wide') %}</div>{% endif %}
			</header>
			{% do action( 'maera/extra_header/after' ) %}
			{% if sidebar.post_header %}<div class="row">{{ sidebar.post_header }}</div>{% endif %}

			{% if sidebar.jumbotron and function('is_front_page') %}
			{% if 'boxed' == theme.theme_mod('site_style', 'wide') and 1 != theme.theme_mod('jumbotron_nocontainer', 0) %}
			<div class="container jumbotron">
				{% else %}
				<div class="jumbotron">
					{% endif %}
					{% if ( 1 != theme.theme_mod('jumbotron_nocontainer', 0) and 'wide' == theme.theme_mod('site_style', 'wide') ) or 'boxed' == theme.theme_mod('site_style', 'wide') %}
					<div class="container">
						{% endif %}
						{% do action( 'maera/jumbotron/content' ) %}
						{{ sidebar.jumbotron }}
						{% if ( 1 != theme.theme_mod('jumbotron_nocontainer', 0) and 'wide' == theme.theme_mod('site_style', 'wide') ) or 'boxed' == theme.theme_mod('site_style', 'wide') %}
					</div>
					{% endif %}
				</div>
				{% endif %}

				{% do action( 'maera/wrap/before', post.ID ) %}
				{% if sidebar.pre_content %}<div class="row">{{ sidebar.pre_content }}</div>{% endif %}

				{% if theme.theme_mod('navbar_position', 'normal') == 'after-headers' %}
				{% include 'nav.twig' %}
				{% endif %}
